<!DOCTYPE html>
<html>
 
<body>
    <form method="post" action="/test2">
        First:<input type="text" name="fname">
        Last: <input type="text" name="lname">
        <input type="submit">
    </form>
</body>
 
</html>
