<!DOCTYPE html>
<html>
 <head>
 </head>
<body>
    <a href="/authors">BACK</a>
    <form action="/authors/add/process" method="post">
        <label for="aname">AUTHOR_NAME</label>
        <input type="text" id="aname" name="author_name">
        <input type="submit">
    </form>
    <p>{{message}}</p>
</body>
</html>
