<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
    <a  href="/books">BACK</a>
    <form action="/books/add/process" method="post">
            <label for="title">TITLE</label>
            <input type="text" id="title" name="title"><br>
            {{!-- <label for="a_id">AUTHOR_ID</label>
            <input type="number" id="a_id" name="a_id"><br> --}}
            <label for="isbn">ISBN</label>
            <input type="number" id="isbn" name="isbn"><br>
            <label for="p_y">PUBLICATION_YEAR</label>
            <input type="number" id="p_y" name="publication_year"><br>
            <label for="genre">GENRE</label>
            <input type="text" id="genre" name="genre"><br>
            <input type="submit">
    </form>
</body>
</html>