<!DOCTYPE html>
<html>
 <head>
    <script src="/static/js/main.js"></script>
 </head>
<body>
    {{projects.name}} has the following skills : <br>
    {{#each projects.skills}}
    {{this}} <br>
    {{/each}}
</body>
 
</html>
